/* Cursor Wrapper */
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 500;
}

/* Small white filled circle */
.cursor-small {
  width: 12px;
  height: 12px;
  background: #0a0a0a;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

/* Larger light filled circle with transition */
.cursor-large {
  width: 25px;
  height: 25px;
  background: rgb(139, 120, 255, 0.5);
  box-shadow: 0 0 20px rgba(139, 120, 255, 0.9); 
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease;
  filter: blur(1px);
}

.mouse-enter{
    width: 60px;
    height: 60px;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 1);
    filter: blur(0px);
    box-shadow: none;
}

body.dark-mode .cursor-small{
    background: #ffffff;
}

body.dark-mode .cursor-large{
    background: rgb(255, 255, 255, 0.5);
}

body.dark-mode .mouse-enter{
    border: 2px solid rgba(255, 255, 255, 1);
    background: none;
}